<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Calculators</title>
</h:head>

<h:body>
    <h1 style="">Calculadora Botones</h1>

    <p:growl id="growl" showDetail="true" sticky="true" />

    <h:form id="form_botones" >

        <p:inputText value="#{calculadora.numberUno}" converter="numberConverter" validator="customValidator"/>
        <p:inputText value="#{calculadora.numberDos}" style="margin-left: 20px" converter="numberConverter" validatorMessage="customValidator" />

        <br />

        <p:commandButton update="output_panel growl dataForm" value="+" actionListener="#{calculadora.setSavedOperationDrop(('ADD_BEAN'))}"
                         action="#{calculadora.faceOperation}" style="width: 50px; text-align-all: center" />

        <p:commandButton update="output_panel growl dataForm" value="-" actionListener="#{calculadora.setSavedOperationDrop(('SUBSTRACT_BEAN'))}"
                         action="#{calculadora.faceOperation}" style="width: 50px; text-align-all: center" />

        <p:commandButton update="output_panel growl dataForm" value="*" actionListener="#{calculadora.setSavedOperationDrop(('MULTIPLY_BEAN'))}"
                         action="#{calculadora.faceOperation}" style="width: 50px; text-align-all: center" />

        <p:commandButton update="output_panel growl dataForm" value="/" actionListener="#{calculadora.setSavedOperationDrop(('DIVIDE_BEAN'))}"
                         action="#{calculadora.faceOperation}" style="width: 50px; text-align-all: center" />

        <p:outputPanel id="output_panel" >
            <p:outputLabel value="Resultado: " style="font-style: italic; font-weight: bold"/>
            <p:outputLabel id="output" value="#{calculadora.numberResult}" style="font-weight: bolder" />
        </p:outputPanel>
    </h:form>

    <h1 style="">Calculadora DropDown</h1>

    <h:form id="form_dropdown">
        <p:inputNumber value="#{calculadora.numberUno}" style="vertical-align: middle" validator="customValidator" />
        <p:outputLabel value="Operacion: " for="drop_operacion" style="margin-left: 20px; vertical-align: middle"/>

        <p:selectOneMenu id="drop_operacion" value="#{calculadora.savedOperationDrop}" style="width: 125px; vertical-align: middle">
            <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
            <f:selectItems value="#{calculadora.operationsList}" />
        </p:selectOneMenu>

        <p:inputNumber value="#{calculadora.numberDos}" style="margin-left: 20px; vertical-align: middle" validator="customValidator" />
        <p:commandButton update="output_panel_drop dataForm" value="=" actionListener="#{calculadora.faceOperation}"
                         style="margin-left: 20px; vertical-align: middle"/>

        <p:outputPanel id="output_panel_drop" >
            <p:outputLabel value="Resultado: " style="font-style: italic; font-weight: bold"/>
            <p:outputLabel id="output_drop" value="#{calculadora.numberResult}" style="font-weight: bolder" />
        </p:outputPanel>
    </h:form>

    <h:form id="dataForm">
        <p:dataTable id="dataT" var="notificationForm" value="#{calculadora.data}" rowKey="#{notificationForm.id}"
                     selection="#{calculadora.selectedOperations}" selectionMode="multiple">
            <p:column headerText="Id">
                <h:outputText value="#{notificationForm.id}" />
            </p:column>

            <p:column headerText="Input 1">
                <h:outputText value="#{notificationForm.i1}" />
            </p:column>

            <p:column headerText="Input 2">
                <h:outputText value="#{notificationForm.i2}" />
            </p:column>

            <p:column headerText="Operation">
                <h:outputText value="#{notificationForm.symbol}" />
            </p:column>

            <p:column headerText="Full Op">
                <h:outputText value="#{notificationForm.operation}" />
            </p:column>

            <f:facet name="footer">
                <p:commandButton process="dataT" update="dataT growl" value="REMOVE"
                                 style="color: whitesmoke; background-color: darkred"
                                 actionListener="#{calculadora.removeItems}" action="#{calculadora.showDbMessage}"/>
            </f:facet>
        </p:dataTable>
    </h:form>
</h:body>
</html>
